.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  margin: 1rem;
  
}

.container {
  max-width: 45em;

  align-self: center;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.employeForm{
  border-radius: 1rem;
  padding: 1rem 5rem;
  -webkit-box-shadow: 0px 11px 23px 5px #000139; 
  box-shadow: 0px 11px 23px 5px #01037ea9;
  background: linear-gradient(to bottom right, darkblue, blueviolet);
}

.has-error {
  display: block!important;
  color: red;
}

.firstNameWarn{  
  display: none;
}

.lastNameWarn{  
  display: none;
}

.dateOfBirthWarn{
  display: none;
}

.dateOfStartWarn{
  display: none;
}

.streetWarn{
  display: none;
}

.cityWarn{
  display: none;
}

.stateWarn{
  display: none;
}

.zipCodeWarn{
  display: none;
}

.departmentWarn{
  display: none;
}