.modalContainer {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal {
    display:flex ;
    border-radius: 20px;
    background-color: #ffffff;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin: auto;
    
}

.modal_span {
    color: black;
    font-size: xx-large;
}

.modal_icon {
    align-self: flex-end;
}